<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' href='favicon.ico' type='image/x-icon' />
  </head>
  <body>
	<img src='/images/ruben.png' />
	<p>Página creada por <strong>Rubén Izquierdo Fernández</strong></p>
	<p>©2016. ETSIT-UPM</p>
  </body>
</html>
