<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' href='favicon.ico' type='image/x-icon'/>
  </head>
  <body>
    <span class="no-narrow"><p><b>Bienvenido a Quiz</b></p></span>
    <p>El portal donde podrá crear sus propios juegos!</p>
  </body>
</html>
