<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
  <p>
     La respuesta <strong> <%= answer %> </strong>
     es <%= result %>.
  </p>

  <p>
     <a href="/question?answer=<%= answer %>">
	Inténtelo otra vez </a>
  </p>

  </body>
</html>
